

#links {
    background-color: lightgray;
    border-radius: 2px;
    height: 50px;
    width: 50px;
    border: none;
  }
  
  #links img {
      max-width: 100%;
      max-height: 100%;
  }
  
  
  #bottom-canvas {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin-left: 280px;
    }
    
  #links img {
      max-width: 100%;
      max-height: 100%;
  }
    
  #my-stuff {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin-right: 280px;
      position: relative;
      top: -200px;
      left: -24px;
  }
    
  #bottom {
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative;
  }
  
  // #my-stuff a {
  //     margin-left: auto;
  //     margin-top: 0;
  //     margin-right: 0x;
  // }
    
  
  